<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peteralbus.mapper.EarthquakeInfoMapper">
    <resultMap id="EarthquakeInfoWithLines" type="EarthquakeInfo">
        <id property="earthquakeId" column="earthquake_id"/>
        <result property="earthquakeName" column="earthquake_name"/>
        <result property="magnitude" column="magnitude"/>
        <result property="highIntensity" column="high_intensity"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="depth" column="depth"/>
        <result property="earthquakeTime" column="earthquake_time"/>
        <collection property="intensityLineList" javaType="list" ofType="IntensityLine">
            <id property="lineId" column="line_id"/>
            <result property="longRadius" column="long_radius"/>
            <result property="shortRadius" column="short_radius"/>
            <result property="angle" column="angle"/>
            <result property="intensity" column="intensity"/>
            <result property="earthquakeId" column="earthquake_id"/>
        </collection>
    </resultMap>
    <select id="queryInfoWithLine" resultMap="EarthquakeInfoWithLines">
        select earthquake_info.earthquake_id,earthquake_name,magnitude,high_intensity,longitude, latitude, depth ,earthquake_time, line_id, long_radius, angle, intensity, short_radius
        from earthquake.earthquake_info,earthquake.intensity_line
        WHERE intensity_line.earthquake_id=earthquake_info.earthquake_id
        <if test="earthquakeId !=null">
            and intensity_line.earthquake_id=#{earthquakeId}
        </if>
        <if test="startIndex != null and pageSize != NULL">
            limit #{startIndex},#{pageSize}
        </if>
    </select>
</mapper>
