<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peteralbus.mapper.EstimateMapper">
    <resultMap id="EarthquakeInfoWithLines" type="EarthquakeInfo">
        <id property="earthquakeId" column="earthquake_id"/>
        <result property="earthquakeName" column="earthquake_name"/>
        <result property="magnitude" column="magnitude"/>
        <result property="highIntensity" column="high_intensity"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="depth" column="depth"/>
        <result property="earthquakeTime" column="earthquake_time"/>
        <collection property="intensityLineList" javaType="list" ofType="IntensityLine">
            <id property="lineId" column="line_id"/>
            <result property="longRadius" column="long_radius"/>
            <result property="shortRadius" column="short_radius"/>
            <result property="angle" column="angle"/>
            <result property="intensity" column="intensity"/>
            <result property="earthquakeId" column="earthquake_id"/>
        </collection>
    </resultMap>

    <select id="getPopulation" resultType="double">
        select avg(z) from population
        where x>#{minLongitude} and x &lt;#{maxLongitude} and y>#{minLatitude} and y &lt; #{maxLatitude}
    </select>

    <select id="queryAnalyzeById" resultType="Estimate">
        select predict_death,predict_economy,population
        from estimate
        where earthquake_id = #{earthquakeId}
    </select>

    <select id="queryAnalyze" resultType="int">
        select count(*)
        from estimate
        where earthquake_id = #{earthquakeId}
    </select>
</mapper>
